<li>
    <p>
        <%if(locals.user && locals.user.id==comment.user.id){%>
            <p>
                <a href="/comments/destroy/<%=comment._id %>">X</a>
            </p>    
        <%}%>
        <%= comment.content %>
        <small>
            <%= comment.user.name %>
        </small>
    </p>    
</li>