
<h1>main codeial</h1>

<section>
    <h4>posts</h4>
    <%if(locals.user){%>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3"></textarea>
            <input type="submit" value="Post">
        </form>    
    <%}%>
</section>
   
<section>
  
    <%for(i of posts){%>
        <div>
               <%- include('_post'); %>
        </div>
    <%}%>
</section>

<section>
    <h4>Users</h4>
    <%for(u of all_users){%>
        <p>
            <a href="/users/profile/<%=u._id%>"><%=u.name%></a>
        </p>    
    <%}%>
</section>