<link rel="stylesheet" href="/css/user_profile.css">
    <h1>profile section</h1>

    <p>
        <%= user.name %>
    </p>
    <p>
        <%= user.email %>
    </p>

    <form action="/users/end-session" method="POST">
        <input type="submit" value="logout">
    </form>