<h1>
    sign In
</h1>

<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Your email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" value="submit">
</form>

<p>
    <a href="/users/auth/google">SignIN/SignUp Google</a>
</p>