.right-text{
    text-align: right;
}


#home-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   

    .home-flex-child{
        width: 48%;
        border: 1px solid black;
        margin: auto;

        .card{
            width: 500px;

           .card-header{
                .dropdown-toggle::after { 
                    content: none; 
                } 
                .dropdown{
                    text-align: right;
                }
           }

            .card-footer{
                button{
                    h4{
                        font-size: 1.0rem;
                        margin-left: -20px;
                    }
                }
            }
        }
    }

}