.right-text{
    text-align: right;
}


#home-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;
    margin-top: 65px;
    .home-flex-child{
       
        border: 1px solid black;
        // margin: auto;

        .card{
            width: 450px;

        }
    }

    #user-dashboard{
    //    margin-left : 10px;
        width: 330px;
        #dashboard-pic{
            height: 250px;
            width: 250px;
            margin: auto;
            img{
                width: 100%;
                height: 100%;
                border-radius: 8px;
                margin-top: 10px;
            }
        }

        #friends-dashboard-count{
            h5{
                font-size: 1rem;
            }
        }
    }

    #post-info{
        width: 500px;
    }

    #user-info{
        width: 240px;
        margin-right: 10px;

        h4{
            margin: 0px;
            text-align: center;
        }

        .list-group-item{
            margin: 0px;
            text-align: center;
            padding:7px 20px;

            .profile-pic-holder{
                width: 45px;
                height: 45px;
                margin: 0px 5px;
            }
    
            .profile-name-holder{
                margin: 0px;
            }
        }
        .profile-info img{
            width: 100%;
            height: 100%;
            border-radius: 50px;
        }
        a{
            text-decoration: none;
            color: black;
            text-transform: capitalize;
        }
        a:hover{
            color:#7e6c91;
        }
    }

}