.right-text{
    text-align: right;
}


#home-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;

    .home-flex-child{
        width: 500px;
        border: 1px solid black;
        // margin: auto;

        .card{
            width: 450px;

        }
    }

}