body{
    // margin: 0px 0px;
    // margin-top: 65px;
}

#dashboard-one{
    width: 100%;
    min-height: 250px;
    background-color: darkgray;
    margin-top: 65px;
    padding-top: 36px;

    #dashboard-pic-container{
        width: 150px;
        height: 150px;
        margin: 0px auto;
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    #edit-profile{
        width: 300px;
        margin: auto;
        text-align: center;
        margin-top: 10px;
        font-size: x-small;
    }

    #preview-holder{
        width: 200px;
        height: 200px;
        margin: auto;

        img{
            width: 100%;
            height: 100%;
        }
    }
}

#profile-options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    .profile-child{
        width: 150px;
        height: 100px;
        text-align: center;
        border: 1px solid #2405d347;
        padding-top: 5px;
        border-radius: 15px;
        box-shadow: 3px 3px 10px #090909;
    }

    .profile-child:hover{
        cursor: pointer;
    }
}

#display-container{
    width: 60%;
    margin: 30px auto;
}

#display-container > div{
    display: none;
}

