body {
  margin-top: 80px; }

input:focus {
  /* Removing outlines from all input tags*/
  outline: none; }

#chat-flex {
  display: flex;
  flex-direction: row; }
  #chat-flex .chat-flex-child {
    border: 1px solid black;
    height: 78vh; }
  #chat-flex #chat-room-name {
    width: 30%; }
    #chat-flex #chat-room-name .chat-room-users {
      background-color: wheat;
      height: 50px;
      text-align: center; }
      #chat-flex #chat-room-name .chat-room-users h2 {
        margin: 0px; }
  #chat-flex #chat-room-display {
    width: 70%; }
    #chat-flex #chat-room-display #user-chat-box {
      position: relative;
      border: 1px solid grey;
      width: 80%;
      height: 98%;
      background: white;
      padding: 5px;
      box-shadow: 1px 1px 1px 1px lightgrey; }
      #chat-flex #chat-room-display #user-chat-box #chat-messages-list {
        list-style: none;
        padding: 10px;
        height: 70%;
        background-color: white;
        overflow: auto; }
        #chat-flex #chat-room-display #user-chat-box #chat-messages-list .other-message {
          text-align: left;
          padding: 5px; }
          #chat-flex #chat-room-display #user-chat-box #chat-messages-list .other-message span {
            display: inline-block;
            padding: 15px;
            background-color: #ffa0a0; }
        #chat-flex #chat-room-display #user-chat-box #chat-messages-list .self-message {
          text-align: right;
          padding: 5px; }
          #chat-flex #chat-room-display #user-chat-box #chat-messages-list .self-message span {
            display: inline-block;
            padding: 15px;
            background-color: #a0dcff; }
      #chat-flex #chat-room-display #user-chat-box #chat-message-input-container {
        height: 21%;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-top: 1px solid black;
        margin-top: 80px; }
        #chat-flex #chat-room-display #user-chat-box #chat-message-input-container #chat-message-input {
          height: 50%;
          width: 70%;
          border: none; }
        #chat-flex #chat-room-display #user-chat-box #chat-message-input-container #send-message {
          height: 50%;
          width: 30%;
          font-size: 25px;
          color: white;
          border: none;
          background: #58d258; }
