body {
  margin-top: 80px;
  background-color: #eeeeee; }

input:focus {
  /* Removing outlines from all input tags*/
  outline: none; }

#chat-flex {
  display: flex;
  flex-direction: row; }
  #chat-flex .chat-flex-child {
    height: 78vh; }
  #chat-flex #chat-room-name {
    width: 30%;
    border: 1px solid black; }
    #chat-flex #chat-room-name .chat-room-users {
      background-color: wheat;
      height: 50px;
      text-align: center; }
      #chat-flex #chat-room-name .chat-room-users h2 {
        margin: 0px; }
  #chat-flex .chat-room-display {
    width: 70%; }
    #chat-flex .chat-room-display .user-chat-box {
      position: relative;
      border: 1px solid grey;
      width: 90%;
      height: 98%;
      background: white;
      padding: 5px; }
      #chat-flex .chat-room-display .user-chat-box .chat-messages-list-style {
        list-style: none;
        padding: 10px;
        height: 70%;
        background-color: white;
        overflow: auto; }
        #chat-flex .chat-room-display .user-chat-box .chat-messages-list-style .other-message {
          text-align: left;
          padding: 5px; }
          #chat-flex .chat-room-display .user-chat-box .chat-messages-list-style .other-message div {
            display: inline-block;
            padding: 15px;
            background-color: #ffa0a0;
            border-radius: 15%; }
            #chat-flex .chat-room-display .user-chat-box .chat-messages-list-style .other-message div h3 {
              margin: 0px;
              text-align: left; }
            #chat-flex .chat-room-display .user-chat-box .chat-messages-list-style .other-message div h4 {
              margin: 0px;
              font-size: 0.8rem;
              text-align: right; }
        #chat-flex .chat-room-display .user-chat-box .chat-messages-list-style .self-message {
          text-align: right;
          padding: 5px; }
          #chat-flex .chat-room-display .user-chat-box .chat-messages-list-style .self-message div {
            display: inline-block;
            padding: 15px;
            background-color: #a0dcff;
            border-radius: 15%; }
            #chat-flex .chat-room-display .user-chat-box .chat-messages-list-style .self-message div h3 {
              margin: 0px;
              text-align: left; }
            #chat-flex .chat-room-display .user-chat-box .chat-messages-list-style .self-message div h4 {
              margin: 0px;
              font-size: 0.8rem;
              text-align: right; }
      #chat-flex .chat-room-display .user-chat-box .chat-message-input-container {
        height: 21%;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-top: 1px solid black;
        margin-top: 78px; }
        #chat-flex .chat-room-display .user-chat-box .chat-message-input-container .chat-message-input {
          height: 50%;
          width: 70%;
          border: none; }
        #chat-flex .chat-room-display .user-chat-box .chat-message-input-container #send-message {
          height: 50%;
          width: 30%;
          font-size: 25px;
          color: white;
          border: none;
          background: #58d258; }

@media only screen and (max-width: 930px) {
  #chat-flex #chat-room-name {
    display: none; }
  #chat-flex .chat-room-display {
    margin: auto;
    width: 90%; }
    #chat-flex .chat-room-display .user-chat-box {
      margin: auto; } }

@media only screen and (max-width: 430px) {
  #chat-flex #chat-room-name {
    display: none; }
  #chat-flex .chat-room-display {
    width: 90%; }
    #chat-flex .chat-room-display .user-chat-box .chat-messages-list .other-message div {
      padding: 5px; }
    #chat-flex .chat-room-display .user-chat-box .chat-messages-list .other-message h3 {
      font-size: 1rem; }
    #chat-flex .chat-room-display .user-chat-box .chat-messages-list .other-message h4 {
      font-size: 0.7rem; }
    #chat-flex .chat-room-display .user-chat-box .chat-messages-list .self-message div {
      padding: 5px; }
    #chat-flex .chat-room-display .user-chat-box .chat-messages-list .self-message h3 {
      font-size: 1rem; }
    #chat-flex .chat-room-display .user-chat-box .chat-messages-list .self-message h4 {
      font-size: 0.7rem; } }

@media only screen and (max-width: 380px) {
  #chat-flex .chat-room-display .user-chat-box .chat-message-input-container {
    margin-top: 65px; } }

@media only screen and (max-width: 330px) {
  #chat-flex .chat-room-display .user-chat-box .chat-message-input-container {
    margin-top: 50px; } }
