body {
  margin-top: 80px;
  background-color: #eeeeee; }

input:focus {
  /* Removing outlines from all input tags*/
  outline: none; }

#chat-flex {
  display: flex;
  flex-direction: row;
  margin: 14px;
  border: 1px solid #c4c4c4; }
  #chat-flex .chat-flex-child {
    height: 78vh; }
  #chat-flex #chat-room-name::-webkit-scrollbar {
    display: none; }
  #chat-flex #chat-room-name {
    width: 30%;
    border-right: 1px solid #c4c4c4;
    overflow-y: scroll; }
    #chat-flex #chat-room-name .chat-room-users {
      text-align: center;
      border-bottom: 1px solid #c4c4c4; }
      #chat-flex #chat-room-name .chat-room-users h2 {
        margin-top: 15px; }
    #chat-flex #chat-room-name #roomlist .chat-list:hover {
      background-color: #d1d1d1; }
    #chat-flex #chat-room-name #roomlist .chat-list {
      padding: 0px 25px;
      border-bottom: 1px solid #c4c4c4;
      cursor: pointer; }
      #chat-flex #chat-room-name #roomlist .chat-list .friend-wrapper {
        display: flex;
        flex-wrap: nowrap;
        padding: 18px;
        align-items: center; }
        #chat-flex #chat-room-name #roomlist .chat-list .friend-wrapper .friend-avatar {
          width: 45px;
          height: 45px; }
          #chat-flex #chat-room-name #roomlist .chat-list .friend-wrapper .friend-avatar img {
            width: 100%;
            height: 100%;
            border-radius: 50%; }
        #chat-flex #chat-room-name #roomlist .chat-list .friend-wrapper .friend-name {
          padding-left: 12px; }
  #chat-flex .chat-room-display {
    width: 70%;
    background: white; }
    #chat-flex .chat-room-display .user-chat-box {
      position: relative;
      width: 99%;
      height: 98%;
      padding: 5px; }
      #chat-flex .chat-room-display .user-chat-box .chat-messages-list-style::-webkit-scrollbar {
        display: none; }
      #chat-flex .chat-room-display .user-chat-box .chat-messages-list-style {
        list-style: none;
        padding: 10px;
        height: 70%;
        background-color: white;
        overflow: auto; }
        #chat-flex .chat-room-display .user-chat-box .chat-messages-list-style .other-message {
          text-align: left;
          padding: 5px; }
          #chat-flex .chat-room-display .user-chat-box .chat-messages-list-style .other-message div {
            display: inline-block;
            padding: 15px;
            background-color: #ffa0a0;
            border-radius: 15%; }
            #chat-flex .chat-room-display .user-chat-box .chat-messages-list-style .other-message div h3 {
              margin: 0px;
              text-align: left; }
            #chat-flex .chat-room-display .user-chat-box .chat-messages-list-style .other-message div h4 {
              margin: 0px;
              font-size: 0.8rem;
              text-align: right; }
        #chat-flex .chat-room-display .user-chat-box .chat-messages-list-style .self-message {
          text-align: right;
          padding: 5px; }
          #chat-flex .chat-room-display .user-chat-box .chat-messages-list-style .self-message div {
            display: inline-block;
            padding: 15px;
            background-color: #a0dcff;
            border-radius: 15%; }
            #chat-flex .chat-room-display .user-chat-box .chat-messages-list-style .self-message div h3 {
              margin: 0px;
              text-align: left; }
            #chat-flex .chat-room-display .user-chat-box .chat-messages-list-style .self-message div h4 {
              margin: 0px;
              font-size: 0.8rem;
              text-align: right; }
      #chat-flex .chat-room-display .user-chat-box .chat-message-input-container {
        height: 21%;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-top: 1px solid #c4c4c4;
        margin-top: 78px; }
        #chat-flex .chat-room-display .user-chat-box .chat-message-input-container .chat-message-input {
          height: 50%;
          width: 70%;
          border: none; }
        #chat-flex .chat-room-display .user-chat-box .chat-message-input-container #send-message {
          height: 50%;
          width: 30%;
          font-size: 25px;
          color: white;
          border: none;
          background: #58d258; }

@media only screen and (max-width: 930px) {
  #chat-flex #chat-room-name {
    display: none; }
  #chat-flex .chat-room-display {
    margin: auto;
    width: 90%; }
    #chat-flex .chat-room-display .user-chat-box {
      margin: auto; } }

@media only screen and (max-width: 430px) {
  #chat-flex #chat-room-name {
    display: none; }
  #chat-flex .chat-room-display {
    width: 90%; }
    #chat-flex .chat-room-display .user-chat-box .chat-messages-list .other-message div {
      padding: 5px; }
    #chat-flex .chat-room-display .user-chat-box .chat-messages-list .other-message h3 {
      font-size: 1rem; }
    #chat-flex .chat-room-display .user-chat-box .chat-messages-list .other-message h4 {
      font-size: 0.7rem; }
    #chat-flex .chat-room-display .user-chat-box .chat-messages-list .self-message div {
      padding: 5px; }
    #chat-flex .chat-room-display .user-chat-box .chat-messages-list .self-message h3 {
      font-size: 1rem; }
    #chat-flex .chat-room-display .user-chat-box .chat-messages-list .self-message h4 {
      font-size: 0.7rem; } }

@media only screen and (max-width: 380px) {
  #chat-flex .chat-room-display .user-chat-box .chat-message-input-container {
    margin-top: 65px; } }

@media only screen and (max-width: 330px) {
  #chat-flex .chat-room-display .user-chat-box .chat-message-input-container {
    margin-top: 50px; } }
