.right-text {
  text-align: right; }

#home-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  #home-flex .home-flex-child {
    width: 48%;
    border: 1px solid black;
    margin: auto; }
